#langages {
   padding: 80px 80px 80px 50px;
   margin: 20px 0 0 6%;
   height: 620px;
   width: 47%;
   max-width: 640px;
   background: linear-gradient(130deg, #f12711 0%, #f5af196b 100%);
   clip-path: polygon(0 5%, 100% 0%, 92% 100%, 0 89%);

   .bar {
      padding: 10px 0 4px;
      letter-spacing: 0.1em;
   }
}
