#parcours {
   max-width: 800px;
   margin: 640px auto 180px;
   padding: 40px 30px 100px;
   background: url('../media/parcours.jpg') no-repeat fixed center;
   background-size: cover;
   box-shadow: -1px -1px 8px #283655;

   h3 {
      font-size: 2.5em;
      padding-bottom: 30px;
   }

   .timeline {
      border-top: 3px solid;
      border-image: linear-gradient(to right, #f9d423, #ff4e50);
      border-image-slice: 1;
      margin: 0;
      padding: 40px;
      position: relative;

      h4 {
         font-size: 1.6em;
         color: #ff4e50;
         margin-left: 20px;
      }
      h6 {
         font-style: italic;
         color: #edca21;
         margin-left: 20px;
      }
      p {
         line-height: 1.9em;
         text-shadow: 1px 1px 2px #fd7044, 0 0 1em #fff, 0 0 0.2em #ffc107;
      }

      &:nth-child(1) {
         border-bottom: 3px solid;
         border-top: none;
         width: 80%;

         &:after {
            content: '▲';
            color: #ff4e50;
            position: absolute;
            top: -10px;
            right: -10px;
            box-sizing: content-box !important;
         }
      }
      &:nth-child(2) {
         border-top: none;
      }
      &:nth-child(odd) {
         border-right: 3px solid;
         padding-left: 0;
      }
      &:nth-child(even) {
         border-left: 3px solid;
         padding-right: 0;
      }
   }
}
